USE [CENEMATIC]
GO
/****** Object:  Table [dbo].[accesspermission]    Script Date: 13/08/2024 11:48:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accesspermission](
	[id_permission] [varchar](50) NOT NULL,
	[id_account] [varchar](255) NULL,
	[id_role] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_permission] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[account]    Script Date: 13/08/2024 11:48:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[id_account] [varchar](255) NOT NULL,
	[avatar] [nvarchar](255) NULL,
	[accountname] [nvarchar](50) NULL,
	[firstname] [nvarchar](20) NULL,
	[lastname] [nvarchar](20) NULL,
	[gender] [nvarchar](50) NULL,
	[address] [nvarchar](255) NULL,
	[phonenumber] [char](10) NULL,
	[yearofbirth] [date] NULL,
	[email] [varchar](50) NULL,
	[receive_email] [bit] NULL,
	[password] [nvarchar](50) NULL,
	[verificationcode] [varchar](10) NULL,
	[effectivetime] [datetime] NULL,
	[authentication] [bit] NULL,
	[isAdmin] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bill]    Script Date: 13/08/2024 11:48:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill](
	[id_bill] [varchar](50) NOT NULL,
	[id_account] [varchar](255) NULL,
	[datecreated] [date] NULL,
	[totalmoney] [float] NULL,
	[status] [bit] NULL,
	[timecreated] [time](7) NULL,
	[id_ticket] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ticketbill] PRIMARY KEY CLUSTERED 
(
	[id_bill] ASC,
	[id_ticket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cinema]    Script Date: 13/08/2024 11:48:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cinema](
	[id_cinema] [varchar](50) NOT NULL,
	[cinemaname] [nvarchar](50) NULL,
	[address] [nvarchar](100) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cinema] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cinemaroom]    Script Date: 13/08/2024 11:48:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cinemaroom](
	[id_cinemaroom] [varchar](50) NOT NULL,
	[id_cinema] [varchar](50) NULL,
	[id_roomcategory] [varchar](50) NULL,
	[roomname] [nvarchar](50) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cinemaroom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comment]    Script Date: 13/08/2024 11:48:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comment](
	[id_comment] [varchar](50) NOT NULL,
	[id_movie] [varchar](50) NULL,
	[id_account] [varchar](255) NULL,
	[content] [nvarchar](255) NULL,
	[status] [bit] NULL,
	[datecomment] [datetime] NULL,
	[rating] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_comment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movie]    Script Date: 13/08/2024 11:48:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movie](
	[id_movie] [varchar](50) NOT NULL,
	[moviename] [nvarchar](100) NULL,
	[director] [nvarchar](50) NULL,
	[actor] [nvarchar](255) NULL,
	[language] [nvarchar](50) NULL,
	[trailer] [nvarchar](255) NULL,
	[agelimit] [nvarchar](50) NULL,
	[coverimage] [varchar](255) NULL,
	[category] [nvarchar](50) NULL,
	[nationalorigin] [nvarchar](50) NULL,
	[effectivedatefrom] [date] NULL,
	[effectivedateto] [date] NULL,
	[status] [bit] NULL,
	[summary] [nvarchar](max) NULL,
	[Duration] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_movie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movie_moviecategory]    Script Date: 13/08/2024 11:48:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movie_moviecategory](
	[id_category] [varchar](50) NOT NULL,
	[id_movie] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_category] ASC,
	[id_movie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[moviecategory]    Script Date: 13/08/2024 11:48:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[moviecategory](
	[id_category] [varchar](50) NOT NULL,
	[categoryname] [nvarchar](50) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[moviescreeningsession]    Script Date: 13/08/2024 11:48:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[moviescreeningsession](
	[id_moviescreeningsession] [varchar](50) NOT NULL,
	[id_movie] [varchar](50) NULL,
	[id_cinemaroom] [varchar](50) NULL,
	[screeningdate] [date] NULL,
	[starttime] [time](7) NULL,
	[endtime] [time](7) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_moviescreeningsession] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 13/08/2024 11:48:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[id_role] [varchar](50) NOT NULL,
	[role] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roomcategory]    Script Date: 13/08/2024 11:48:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roomcategory](
	[id_roomcategory] [varchar](50) NOT NULL,
	[roomname] [nvarchar](50) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_roomcategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[seat]    Script Date: 13/08/2024 11:48:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[seat](
	[id_seat] [varchar](50) NOT NULL,
	[id_seatcategory] [varchar](50) NULL,
	[id_cinemaroom] [varchar](50) NULL,
	[row] [char](1) NULL,
	[column] [int] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_seat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[seatcategory]    Script Date: 13/08/2024 11:48:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[seatcategory](
	[id_seatcategory] [varchar](50) NOT NULL,
	[categoryname] [nvarchar](50) NULL,
	[status] [bit] NULL,
	[price] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_seatcategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ticket]    Script Date: 13/08/2024 11:48:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ticket](
	[id_ticket] [varchar](50) NOT NULL,
	[id_moviescreeningsession] [varchar](50) NULL,
	[id_seat] [varchar](50) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ticket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[accesspermission] ([id_permission], [id_account], [id_role]) VALUES (N'AP001', N'1', N'R002')
INSERT [dbo].[accesspermission] ([id_permission], [id_account], [id_role]) VALUES (N'AP002', N'2', N'R002')
INSERT [dbo].[accesspermission] ([id_permission], [id_account], [id_role]) VALUES (N'AP003', N'3', N'R001')
GO
INSERT [dbo].[account] ([id_account], [avatar], [accountname], [firstname], [lastname], [gender], [address], [phonenumber], [yearofbirth], [email], [receive_email], [password], [verificationcode], [effectivetime], [authentication], [isAdmin]) VALUES (N'1', NULL, N'HuyQuang1234', N'Phan', N'Huy', N'Male', N'null', N'0938383833', CAST(N'2004-05-01' AS Date), N'johndoe@example.com', 1, N'huy123', NULL, NULL, NULL, 0)
INSERT [dbo].[account] ([id_account], [avatar], [accountname], [firstname], [lastname], [gender], [address], [phonenumber], [yearofbirth], [email], [receive_email], [password], [verificationcode], [effectivetime], [authentication], [isAdmin]) VALUES (N'1718794632915', N'Screenshot 2024-06-18 194129.png', N'user6', N'Nguyen', N'Thinh1', N'Male', N'kkkkkkk', N'0909097895', CAST(N'2024-06-08' AS Date), N'nsn15102004@gmail.com

', 0, N'+CNxn6nvbqUoRtzWHq3zMKE8hbk=', N'764779', CAST(N'2024-06-20T00:00:00.000' AS DateTime), 1, 0)
INSERT [dbo].[account] ([id_account], [avatar], [accountname], [firstname], [lastname], [gender], [address], [phonenumber], [yearofbirth], [email], [receive_email], [password], [verificationcode], [effectivetime], [authentication], [isAdmin]) VALUES (N'1719206344673', N'Screenshot 2024-06-20 160714.png', N'user7', N'Tran', N'Duy', N'Male', N'854/26, Kinh DÆ°Æ¡ng VÆ°Æ¡ng, PhÆ°á»ng An Láº¡c, Quáº­n BÃ¬nh TÃ¢n', N'0909053536', CAST(N'2024-06-13' AS Date), N'phuy613717737@gmail.com', 0, N'vAx0xzoFW31VzvnkfsXd12owLNQ=', N'785291', CAST(N'2024-06-25T00:00:00.000' AS DateTime), 1, NULL)
GO
INSERT [dbo].[bill] ([id_bill], [id_account], [datecreated], [totalmoney], [status], [timecreated], [id_ticket]) VALUES (N'1720151684542', N'1718794632915', CAST(N'2024-07-05' AS Date), 90000, 0, CAST(N'10:54:44.4766667' AS Time), N'1720151685131')
INSERT [dbo].[bill] ([id_bill], [id_account], [datecreated], [totalmoney], [status], [timecreated], [id_ticket]) VALUES (N'1720151684679', N'1718794632915', CAST(N'2024-07-05' AS Date), 90000, 0, CAST(N'10:54:44.4466667' AS Time), N'1720151684655')
INSERT [dbo].[bill] ([id_bill], [id_account], [datecreated], [totalmoney], [status], [timecreated], [id_ticket]) VALUES (N'1720252796054', N'3', CAST(N'2024-07-06' AS Date), 160000, 0, CAST(N'14:59:55.8266667' AS Time), N'1720252796219')
GO
INSERT [dbo].[cinema] ([id_cinema], [cinemaname], [address], [status]) VALUES (N'C001', N'Vincom Cinema', N'216 Võ Văn Ngân, Bình Thọ, Thủ Đức, Thành phố Hồ Chí Minh', 1)
INSERT [dbo].[cinema] ([id_cinema], [cinemaname], [address], [status]) VALUES (N'C002', N'Aeon Cinema', N'AEON-Bình Dương Canary 77 Thuận An, Đại lộ Bình Dương, Thuận Giao, Thuận An, Bình Dương', 0)
INSERT [dbo].[cinema] ([id_cinema], [cinemaname], [address], [status]) VALUES (N'C003', N'Cinestar Cinema', N'Làng Đại Học Quốc Gia, Thành Phố Hồ Chí Minh', 0)
GO
INSERT [dbo].[cinemaroom] ([id_cinemaroom], [id_cinema], [id_roomcategory], [roomname], [status]) VALUES (N'R1', N'C001', N'RC001', N'3D Room ', 1)
INSERT [dbo].[cinemaroom] ([id_cinemaroom], [id_cinema], [id_roomcategory], [roomname], [status]) VALUES (N'R2', N'C001', N'RC002', N'Standard Room', 0)
GO
INSERT [dbo].[comment] ([id_comment], [id_movie], [id_account], [content], [status], [datecomment], [rating]) VALUES (N'3526f7e9-8c7e-4b71-adf9-725f5826de37', N'MOV021', N'1718794632915', N'phim nhÆ° cá»©t', 1, CAST(N'2024-07-11T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[comment] ([id_comment], [id_movie], [id_account], [content], [status], [datecomment], [rating]) VALUES (N'bd654f51-7ab6-4492-a6cc-494d06b20fce', N'MOV002', N'3', N'cool movie', 1, CAST(N'2024-07-11T00:00:00.000' AS DateTime), 5)
GO
INSERT [dbo].[movie_moviecategory] ([id_category], [id_movie]) VALUES (N'MC001', N'MOV001')
INSERT [dbo].[movie_moviecategory] ([id_category], [id_movie]) VALUES (N'MC002', N'MOV002')
INSERT [dbo].[movie_moviecategory] ([id_category], [id_movie]) VALUES (N'MC003', N'MOV003')
GO
INSERT [dbo].[moviecategory] ([id_category], [categoryname], [status]) VALUES (N'MC001', N'Action', 1)
INSERT [dbo].[moviecategory] ([id_category], [categoryname], [status]) VALUES (N'MC002', N'Animation', 1)
INSERT [dbo].[moviecategory] ([id_category], [categoryname], [status]) VALUES (N'MC003', N'Adventure', 1)
GO
INSERT [dbo].[moviescreeningsession] ([id_moviescreeningsession], [id_movie], [id_cinemaroom], [screeningdate], [starttime], [endtime], [status]) VALUES (N'MS0013', N'MOV001', N'R1', CAST(N'2024-07-01' AS Date), CAST(N'11:00:00' AS Time), CAST(N'13:00:00' AS Time), 1)
INSERT [dbo].[moviescreeningsession] ([id_moviescreeningsession], [id_movie], [id_cinemaroom], [screeningdate], [starttime], [endtime], [status]) VALUES (N'MSS001', N'MOV001', N'R1', CAST(N'2024-07-01' AS Date), CAST(N'09:00:00' AS Time), CAST(N'11:00:00' AS Time), 1)
INSERT [dbo].[moviescreeningsession] ([id_moviescreeningsession], [id_movie], [id_cinemaroom], [screeningdate], [starttime], [endtime], [status]) VALUES (N'MSS002', N'MOV002', N'R1', CAST(N'2024-07-01' AS Date), CAST(N'11:00:00' AS Time), CAST(N'13:00:00' AS Time), 1)
GO
INSERT [dbo].[role] ([id_role], [role]) VALUES (N'R001', N'Admin')
INSERT [dbo].[role] ([id_role], [role]) VALUES (N'R002', N'User')
GO
INSERT [dbo].[roomcategory] ([id_roomcategory], [roomname], [status]) VALUES (N'RC001', N'3D', 1)
INSERT [dbo].[roomcategory] ([id_roomcategory], [roomname], [status]) VALUES (N'RC002', N'Standard', 0)
GO
INSERT [dbo].[seat] ([id_seat], [id_seatcategory], [id_cinemaroom], [row], [column], [status]) VALUES (N'A0', N'SC001', N'R1', N'A', 0, 1)
INSERT [dbo].[seat] ([id_seat], [id_seatcategory], [id_cinemaroom], [row], [column], [status]) VALUES (N'A1', N'SC001', N'R1', N'A', 1, 1)
INSERT [dbo].[seat] ([id_seat], [id_seatcategory], [id_cinemaroom], [row], [column], [status]) VALUES (N'A2', N'SC001', N'R1', N'A', 2, 1)
GO
INSERT [dbo].[seatcategory] ([id_seatcategory], [categoryname], [status], [price]) VALUES (N'SC001', N'VIP', 1, 100000)
INSERT [dbo].[seatcategory] ([id_seatcategory], [categoryname], [status], [price]) VALUES (N'SC002', N'Regular', 1, 45000)
INSERT [dbo].[seatcategory] ([id_seatcategory], [categoryname], [status], [price]) VALUES (N'SC003', N'Economy', 1, 80000)
GO
INSERT [dbo].[ticket] ([id_ticket], [id_moviescreeningsession], [id_seat], [status]) VALUES (N'1720151684655', N'MS0013', N'D4', 1)
INSERT [dbo].[ticket] ([id_ticket], [id_moviescreeningsession], [id_seat], [status]) VALUES (N'1720151685131', N'MS0013', N'D5', 1)
INSERT [dbo].[ticket] ([id_ticket], [id_moviescreeningsession], [id_seat], [status]) VALUES (N'1720252795785', N'MSS005', N'G4', 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__account__622BF0C2952E3CCF]    Script Date: 13/08/2024 11:48:28 ******/
ALTER TABLE [dbo].[account] ADD UNIQUE NONCLUSTERED 
(
	[phonenumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__account__AB6E616461BE78C9]    Script Date: 13/08/2024 11:48:28 ******/
ALTER TABLE [dbo].[account] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__account__CE805C73F20B32A8]    Script Date: 13/08/2024 11:48:28 ******/
ALTER TABLE [dbo].[account] ADD UNIQUE NONCLUSTERED 
(
	[accountname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__cinema__751C8E5478DA6E4D]    Script Date: 13/08/2024 11:48:28 ******/
ALTER TABLE [dbo].[cinema] ADD UNIQUE NONCLUSTERED 
(
	[address] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__moviecat__1A0D12CEC7D4B2C9]    Script Date: 13/08/2024 11:48:28 ******/
ALTER TABLE [dbo].[moviecategory] ADD UNIQUE NONCLUSTERED 
(
	[categoryname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__seatcate__1A0D12CE2D983D9E]    Script Date: 13/08/2024 11:48:28 ******/
ALTER TABLE [dbo].[seatcategory] ADD UNIQUE NONCLUSTERED 
(
	[categoryname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[accesspermission]  WITH CHECK ADD FOREIGN KEY([id_account])
REFERENCES [dbo].[account] ([id_account])
GO
ALTER TABLE [dbo].[accesspermission]  WITH CHECK ADD FOREIGN KEY([id_role])
REFERENCES [dbo].[role] ([id_role])
GO
ALTER TABLE [dbo].[bill]  WITH CHECK ADD FOREIGN KEY([id_account])
REFERENCES [dbo].[account] ([id_account])
GO
ALTER TABLE [dbo].[bill]  WITH CHECK ADD  CONSTRAINT [FK_idticket] FOREIGN KEY([id_ticket])
REFERENCES [dbo].[ticket] ([id_ticket])
GO
ALTER TABLE [dbo].[bill] CHECK CONSTRAINT [FK_idticket]
GO
ALTER TABLE [dbo].[cinemaroom]  WITH CHECK ADD FOREIGN KEY([id_cinema])
REFERENCES [dbo].[cinema] ([id_cinema])
GO
ALTER TABLE [dbo].[cinemaroom]  WITH CHECK ADD FOREIGN KEY([id_roomcategory])
REFERENCES [dbo].[roomcategory] ([id_roomcategory])
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD FOREIGN KEY([id_account])
REFERENCES [dbo].[account] ([id_account])
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD FOREIGN KEY([id_movie])
REFERENCES [dbo].[movie] ([id_movie])
GO
ALTER TABLE [dbo].[movie_moviecategory]  WITH CHECK ADD FOREIGN KEY([id_category])
REFERENCES [dbo].[moviecategory] ([id_category])
GO
ALTER TABLE [dbo].[movie_moviecategory]  WITH CHECK ADD FOREIGN KEY([id_movie])
REFERENCES [dbo].[movie] ([id_movie])
GO
ALTER TABLE [dbo].[moviescreeningsession]  WITH CHECK ADD FOREIGN KEY([id_cinemaroom])
REFERENCES [dbo].[cinemaroom] ([id_cinemaroom])
GO
ALTER TABLE [dbo].[moviescreeningsession]  WITH CHECK ADD FOREIGN KEY([id_movie])
REFERENCES [dbo].[movie] ([id_movie])
GO
ALTER TABLE [dbo].[seat]  WITH CHECK ADD FOREIGN KEY([id_cinemaroom])
REFERENCES [dbo].[cinemaroom] ([id_cinemaroom])
GO
ALTER TABLE [dbo].[seat]  WITH CHECK ADD FOREIGN KEY([id_seatcategory])
REFERENCES [dbo].[seatcategory] ([id_seatcategory])
GO
ALTER TABLE [dbo].[ticket]  WITH CHECK ADD FOREIGN KEY([id_moviescreeningsession])
REFERENCES [dbo].[moviescreeningsession] ([id_moviescreeningsession])
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
