<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>Controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeInformationController</servlet-name>
        <servlet-class>Controller.ChangeInformationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginSevelet</servlet-name>
        <servlet-class>Controller.LoginSevelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutSevelet</servlet-name>
        <servlet-class>Controller.LogoutSevelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterSevelet</servlet-name>
        <servlet-class>Controller.RegisterSevelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangepasswordSevelet</servlet-name>
        <servlet-class>Controller.ChangepasswordSevelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeInformationSevelet</servlet-name>
        <servlet-class>Controller.ChangeInformationSevelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthenticateSevelet</servlet-name>
        <servlet-class>Controller.AuthenticateSevelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieCategorySevelet</servlet-name>
        <servlet-class>Controller.MovieCategorySevelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategorySevelet</servlet-name>
        <servlet-class>Controller.CategorySevelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSevelet</servlet-name>
        <servlet-class>Controller.SearchSevelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>Controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>Controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateMovieSevelet</servlet-name>
        <servlet-class>Controller.CreateMovieSevelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMovieSevelet</servlet-name>
        <servlet-class>Controller.UpdateMovieSevelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMovieSevelet</servlet-name>
        <servlet-class>Controller.DeleteMovieSevelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMovieSevelet</servlet-name>
        <servlet-class>Controller.SearchMovieSevelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserServlet</servlet-name>
        <servlet-class>Controller.CreateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserSevelet</servlet-name>
        <servlet-class>Controller.DeleteUserSevelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserSevelet</servlet-name>
        <servlet-class>Controller.UpdateUserSevelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserSevelet</servlet-name>
        <servlet-class>Controller.SearchUserSevelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCommentSevelet</servlet-name>
        <servlet-class>Controller.SearchCommentSevelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCommentsSevelet</servlet-name>
        <servlet-class>Controller.DeleteCommentsSevelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApprovedCommentSevelet</servlet-name>
        <servlet-class>Controller.ApprovedCommentSevelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSessionSevelet</servlet-name>
        <servlet-class>Controller.DeleteSessionSevelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateSessionSevelet</servlet-name>
        <servlet-class>Controller.CreateSessionSevelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchInformationSevelet</servlet-name>
        <servlet-class>Controller.SearchInformationSevelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSessionSevelet</servlet-name>
        <servlet-class>Controller.UpdateSessionSevelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBillSevelet</servlet-name>
        <servlet-class>Controller.SearchBillSevelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptBillSevelet</servlet-name>
        <servlet-class>Controller.AcceptBillSevelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnacceptBillSevelet</servlet-name>
        <servlet-class>Controller.UnacceptBillSevelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAutoCompleteServelet</servlet-name>
        <servlet-class>Controller.SearchAutoCompleteServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyTicketSevelet</servlet-name>
        <servlet-class>Controller.BuyTicketSevelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreSessionTimeServlet</servlet-name>
        <servlet-class>Controller.StoreSessionTimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAutoCompleteServeletIndex</servlet-name>
        <servlet-class>Controller.SearchAutoCompleteServeletIndex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyTicketServlet</servlet-name>
        <servlet-class>Controller.BuyTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseSeatSevelet</servlet-name>
        <servlet-class>Controller.ChooseSeatSevelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentSevelet</servlet-name>
        <servlet-class>Controller.PaymentSevelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>Controller.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionServelet</servlet-name>
        <servlet-class>Controller.TransactionServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAutoCompleteAccountServlet</servlet-name>
        <servlet-class>Controller.SearchAutoCompleteAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAutoCompleteTicket</servlet-name>
        <servlet-class>Controller.SearchAutoCompleteTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FixCommentServlet</servlet-name>
        <servlet-class>Controller.FixCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckCodeServelet</servlet-name>
        <servlet-class>Controller.CheckCodeServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServelet</servlet-name>
        <servlet-class>Controller.ForgotPasswordServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthenPassSevelet</servlet-name>
        <servlet-class>Controller.AuthenPassSevelet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/ChangePasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeInformationController</servlet-name>
        <url-pattern>/ChangeInformationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginSevelet</servlet-name>
        <url-pattern>/LoginSevelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutSevelet</servlet-name>
        <url-pattern>/LogoutSevelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterSevelet</servlet-name>
        <url-pattern>/RegisterSevelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangepasswordSevelet</servlet-name>
        <url-pattern>/ChangepasswordSevelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeInformationSevelet</servlet-name>
        <url-pattern>/ChangeInformationSevelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthenticateSevelet</servlet-name>
        <url-pattern>/AuthenticateSevelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieCategorySevelet</servlet-name>
        <url-pattern>/MovieCategorySevelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategorySevelet</servlet-name>
        <url-pattern>/CategorySevelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSevelet</servlet-name>
        <url-pattern>/SearchSevelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateMovieSevelet</servlet-name>
        <url-pattern>/CreateMovieSevelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMovieSevelet</servlet-name>
        <url-pattern>/UpdateMovieSevelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMovieSevelet</servlet-name>
        <url-pattern>/DeleteMovieSevelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMovieSevelet</servlet-name>
        <url-pattern>/SearchMovieSevelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserServlet</servlet-name>
        <url-pattern>/CreateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserSevelet</servlet-name>
        <url-pattern>/DeleteUserSevelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserSevelet</servlet-name>
        <url-pattern>/UpdateUserSevelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserSevelet</servlet-name>
        <url-pattern>/SearchUserSevelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCommentSevelet</servlet-name>
        <url-pattern>/SearchCommentSevelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCommentsSevelet</servlet-name>
        <url-pattern>/DeleteCommentsSevelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApprovedCommentSevelet</servlet-name>
        <url-pattern>/ApprovedCommentSevelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSessionSevelet</servlet-name>
        <url-pattern>/DeleteSessionSevelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateSessionSevelet</servlet-name>
        <url-pattern>/CreateSessionSevelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchInformationSevelet</servlet-name>
        <url-pattern>/SearchInformationSevelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSessionSevelet</servlet-name>
        <url-pattern>/UpdateSessionSevelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBillSevelet</servlet-name>
        <url-pattern>/SearchBillSevelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptBillSevelet</servlet-name>
        <url-pattern>/AcceptBillSevelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnacceptBillSevelet</servlet-name>
        <url-pattern>/UnacceptBillSevelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAutoCompleteServelet</servlet-name>
        <url-pattern>/SearchAutoCompleteServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyTicketSevelet</servlet-name>
        <url-pattern>/BuyTicketSevelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreSessionTimeServlet</servlet-name>
        <url-pattern>/StoreSessionTimeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAutoCompleteServeletIndex</servlet-name>
        <url-pattern>/SearchAutoCompleteServeletIndex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyTicketServlet</servlet-name>
        <url-pattern>/BuyTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseSeatSevelet</servlet-name>
        <url-pattern>/ChooseSeatSevelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentSevelet</servlet-name>
        <url-pattern>/PaymentSevelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionServelet</servlet-name>
        <url-pattern>/TransactionServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAutoCompleteAccountServlet</servlet-name>
        <url-pattern>/SearchAutoCompleteAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAutoCompleteTicket</servlet-name>
        <url-pattern>/SearchAutoCompleteTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FixCommentServlet</servlet-name>
        <url-pattern>/FixCommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckCodeServelet</servlet-name>
        <url-pattern>/CheckCodeServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServelet</servlet-name>
        <url-pattern>/ForgotPasswordServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthenPassSevelet</servlet-name>
        <url-pattern>/AuthenPassSevelet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
