body {
    font-family: Arial, sans-serif;
}

#wrapper {
    display: flex;
    width: 100%;
}

#sidebar-wrapper {
    min-width: 250px;
    max-width: 250px;
}

.sidebar-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.sidebar-heading img {
    margin-right: 10px;
}

.list-group-item {
    transition: background-color 0.3s, color 0.3s;
}

.list-group-item:hover {
    background-color: #343a40;
    color: #ffffff;
}

.list-group-item.pl-5 {
    padding-left: 2rem !important;
}
